body {
    margin: 0;
    background-color: #def;
}
#main {
    font-size: 48px;
    text-align: center;
}
#prob {
    padding: 1em;
    font-size: 72px;
}
#answer input {
    font-size: 48px;
    text-align: center;
    width: 6em;
}
#answer input::-webkit-inner-spin-button,
#answer input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
